
/* ----- General ----- */
body{
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	color: #fff;	
	overflow-y: visible !important;
	margin-right: 0 !important;
}
h1, h2, h3, h4, h5, h6{
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
}
body, div, form, button, input, a, p, span, ul, li, h1, h2, h3, h4, h5, h6{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul, li{
	display: block;
}
a, button, li, img{
	transition: all 0.5s ease; 
	text-decoration: none;
}
a{
	color: #fff;	
}
a:hover{
	color: #D92084;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, span{
	line-height: 1.4em;
	cursor: default;
}
button:active, button:focus{
	outline: 0;
	border: 0;
}
.button{
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 150px;
	height: 30px;
	background: #D92084;
	border-radius: 100px;
	padding: 7px 0; 
}
.button:hover{
	color:#D92084;
	background: #fff; 
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}





/* ----- Index.html ----- */
/* ----- Section Header ----- */
.header_main{
	background: url(../img/Main-BG.png) /*fixed*/ no-repeat center / cover;
}
/* ----- Navigation ----- */
.navigation{
	padding: 10px 0;
	background: rgba(120, 63, 235, 0.9);
}
.nav__list{
	width: 100%;
}
/* ----- Head ----- */
.heading{
	color: #27004E;
	padding: 340px;
	text-align: center;
}
.heading p{
	font-family: RobotoSlab;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.70em;
}
h1{
	 font-size: 48px;
	 letter-spacing: 0.2em;
}
/* ----- Section About ----- */
.about{
	background: rgba(120, 63, 235, 0.9);
	padding: 50px 0;
}
.about-info h2{
	font-size: 30px;
	text-transform: uppercase;
}
.about-info p{
	margin: 25px 0 0 50px;
}
.about-info span{
	font-weight: 700;
	text-transform: uppercase;
}
.about-logo{
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 100%;
	text-align: center;
	padding: 70px;
	color: #000;
}
/* ----- Section Organize ----- */
.organize{
	background: url(../img/Map.png) /*fixed*/ no-repeat center / cover;	
}
.organize-wrap{
	padding: 280px 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.organize-head h2{
	max-width: 380px;
	margin: 0 auto;
}
.organize-head a{
	margin: 25px auto;
}

/* ----- Section Footer ----- */
.footer{
	background: rgba(120, 63, 235, 0.9);
	padding: 20px;
}










/* ----- profile.html ----- */
/* ----- Section Profile ----- */
.profile{
	color: #000;
	padding: 100px;
}
.profile h2{
	font-size: 20px;
	margin: 30px 0 25px;
}
.profile-img{
	margin: 0 auto;
}
.profile-img img{
	position: relative;
}
.profile-img span{
	position: absolute;
	font-size: 96px;
	left: 18%;
	top: 50%;	
	transform: translateY(-50%);	
	border: 1px #fff solid; 
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	border-radius: 100%;
	padding: 0 40px;
}
.slider-wrap{
	padding: 30px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.slider{
	background: #7139E9;
	padding: 20px 40px;
	color: #fff;
	border-radius: 5px;
}
.slider__title{
	font-size: 18px;
}
.slider__text{
	margin: 15px 0;
}
.slider__list{
	margin-bottom: 15px;
}
.slider__item{
	display: block;
	text-transform: uppercase;
	color: #000;
	padding: 7px 10px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.slider__item_last{
	margin-top: 10px;
}
.slider__info p{
	margin-right: 10px;
}
.persinal h4{
	font-size: 16px;
	text-transform: uppercase;
	margin: 30px 0;
}
.persinal a{
	color: #000;
	display: block;
	margin-bottom: 5px;
}
.persinal_data{
	margin-bottom: 15px;
}





/* ----- Media queries----- */
/* 992-1200px */
@media screen and (max-width: 1199px){

}
/* 768-992px */
@media screen and (max-width: 991px){

}
/* 576-768px */
@media screen and (max-width: 767px){

}
/* 320-576px */
@media screen and (max-width: 575px){

}

